h1{
    background-color: brown;
}
.container{
    border: 10px solid red;
    width: 1000px;
    height: 800px;
    margin-top: 100px;
    margin-left: 100px;
}
.container div{
    border: 5px solid green;
    width: 200px;
    height: 150px;
}
/* Positions */
/* Default (static) */
/*  1) Relative - moves relative to its original position */



.box1{
    background-color: gold;
    position: relative;
    /* top: 50px; */
    /* left: 100px; */
    /* right: 100px; */
    bottom: 100px;
}
/*  2) Absolute - moves relatiive to close container or viewport*/
.box2{
    background-color: darkcyan;
    position: absolute;
    top: 100px;
}
/* 3) Fixed - to stuck over the screen - absolute behavior */
.box3{
    background-color: darkgray;
    position: fixed;
    left: 10px;
    top: 100px;
}
/*  4) Sticky  */
.box4{
    background-color: pink;
    position: sticky;
    top: 200px;
    
}